
#newparent{
    height: 300px;
    position: relative;
}
#newparent img:hover {
    top:300px
}

#oldparent{
    height: 300px;
    position: relative;
}

#bells1 {
    transition: top 2000ms;
    position: absolute;
    top: 0
}

#bells1:active {
}