:root {
    --top: 0;
    --left: 0;
}

body {
    background-image: url("images/ep_naturalwhite.png");
    cursor: pointer;
    margin: 0;
}

#startup {
    margin-left: 15px;
}

#play {
    display: none;
}

#players-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 6px double white;
    background-color: saddlebrown;
    color: white;
}

#players-info div {
    margin-top: 5px;
    margin-bottom: 2px;
}

#display-info {
    margin-left: 20px
}

#remote-info {
    margin-right: 20px
}

.card {
    width: 200px;
    box-shadow: -10px 5px 5px gray;
    border-radius: 5px;
}

#trick {
    width: 420px;
    position: relative;
    margin: 0 auto 0 auto;
}

#trick img {
    width: 200px;
    box-shadow: -10px 5px 5px gray;
    border-radius: 5px;
}

/*.activetrick {*/
     /*animation-name: movetrick;*/
     /*animation-duration: 5000ms;*/
 /*}*/

/*@keyframes movetrick {*/
    /*from {*/
        /*top: var(--top);*/
        /*left: var(--left);*/
    /*}*/
    /*to {*/
        /*top: 0;*/
        /*left: 0;*/
          /*}*/
/*}*/


#trick1 {
    position: absolute;
}

#trick2 {
    position: absolute;
    margin-left: 220px
}

#trick-winner div {
    position: absolute;
    width: 350px;
    margin-top: 112px;
    background-color: gold;
    border: solid 5px crimson;
    border-radius: 10px;
    box-shadow: -5px 5px 5px gray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 14;
    display: none;
    margin-left: 35px;
    font-family: Garamond;
    animation-name: trick-winner-display;
    animation-duration: 3300ms;
}

@keyframes trick-winner-display {
    from { opacity: .01 }
    10% {opacity: .01 }
    30% { opacity: 1 }
    80% { opacity: 1 }
    to { opacity: .01 }
}

#game {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 288px;
}

#decree {
    margin-left: 20px;
    z-index: 1;
    position: relative;
}

#decree-card {
    position: absolute;
}

#pass {
    margin-top: 112px;
    margin-left: 5px;
    width: 190px;
    z-index: 2;
    position: absolute;
}

#deck {
    margin-right: 20px;
    float: right
}

#hand-container {
    margin-left: 20px;
    height: 300px
}

#hand {
    position: relative
}

#hand img {
    width: 200px;
    position:absolute;
    box-shadow: -10px 5px 5px gray;
    border-radius: 5px;
}

.rightcard {
    animation-name: moveleft;
    animation-duration: 500ms
}

@keyframes moveleft {
    from {
        margin-left: 50px
    }
    to {
        margin-left: 0px
    }
}




