:root {
    --top: 0;
    --left: 0;
    --animation: moveleft
}

body {
    background-image: url("../images/ep_naturalwhite.png");
    cursor: pointer;
    margin: 0;
}

#players-info {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px double white;
    background-color: saddlebrown;
    color: white;
}

#display-container {
    display: contents;
}

#player-name {
    width: 100%;
    margin-left: 5px;
}

#players-info * {
    font-family: Garamond;
}

#players-info div {
    margin-bottom: 1px;
    font-weight: bold;
}

#reference-menu {
    display: flex;
    width: 100%;
}

.reference {
    width: 100%;
    text-align: center;
}

.bars {
    /*display: inline-block;*/
    margin-top: 2px;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: 0.4s;
    margin-bottom: 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#user-dropdown-content {
    margin-left: 1px;
    width: 125px;
    top: 30px;
    padding-left: 0;
    padding-right: 0;
}

#user-dropdown-content div {
    background-color: saddlebrown;
    border: none;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
}

#user-dropdown-content div:hover {
    background-color: sandybrown;
}

#user-dropdown-content p {
    margin: 0 5px 0 5px;
    padding: 8px 0 8px 0;
}

#display-info {
    margin-left: 5px;
    width: 100%;
}

#remote-info {
    text-align: right;
    width: 100%;
}

.dropdown {
    background-color: saddlebrown;
    border: none;
    color: white;
}

.dropdown:hover, .dropdown:focus {
    background-color: sandybrown;
}

.reference {
    position: relative;
    display: inline-block;
}

#rules-dropdown-content{
    top: 25px;
    width: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-container {
    /*width: 700px;*/
    margin: 10px auto;
    border: white double 5px;
    border-radius: 5px;
    background-color: saddlebrown;
}

.modal-container div {
    font-family: Garamond;
    font-weight: bold;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
}

#settings-container {
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
}

#flipbook{
    width: 800px;
    margin: 5px auto 10px;
}

#flipbook img {
    width: 400px;
}

#flipbook .page{
    width:400px;
    background-color:white;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;

}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

#flipbook-container {
    width: 850px;
}

#video-tutorial-container {
    width: 700px
}

.modal div iframe {
    display: block;
    margin: 15px auto 10px;
}

.modal div button {
    display: block;
    margin: 10px auto 10px;
}

label {
    padding-left: 5px;
}

table {
    margin-bottom: 10px
}

#rules-dropdown-content div {
    background-color: saddlebrown;
    border: none;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
}

#rules-dropdown-content p {
    margin: 0 5px 0 5px;
    padding: 8px 0 8px 0;
}

#rules-dropdown-content div:hover {
    background-color: sandybrown;
}


#main {
    margin-left: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 20;
}

.show {
    left: 0;
    right: 0;
    margin-left: -30%;
    margin-right: -30%;
    top: 25px;
    display: block;
    background-color: saddlebrown;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: double 5px white;
    border-left: double 5px white;
    border-right: double 5px white;
}

.container:hover {
    background-color: sandybrown;
}

.card {
    width: 200px;
    box-shadow: -10px 5px 5px gray;
    border-radius: 5px;
}

#trick {
    width: 420px;
    position: relative;
    margin: 0 auto 0 auto;
}

#trick img {
    width: 200px;
    box-shadow: -10px 5px 5px gray;
    border-radius: 5px;
}

#info {
    width: 200px;
    height: 283px;
    border-radius: 5px;
    border: double 5px white;
    color: white;
    background-color: saddlebrown;
    margin-right: 5px;
    float: right;
    font-family: Garamond;
    font-weight: bold;
}

#info p {
    margin-left: 10px;
    margin-right: 10px;

}

/*.dealcard {*/
    /*animation-name: dealcards;*/
    /*animation-duration: 2500ms;*/
/*}*/

/*@keyframes dealcards {*/
    /*from {*/
        /*top: -400px;*/
        /*left: 500px;*/
    /*}*/
    /*to {*/
        /*top: 0;*/
        /*left: 0;*/
    /*}*/
/*}*/

/*.activetrick {*/
     /*animation-name: movetrick;*/
     /*animation-duration: 5000ms;*/
 /*}*/

/*@keyframes movetrick {*/
    /*from {*/
        /*top: var(--top);*/
        /*left: var(--left);*/
    /*}*/
    /*to {*/
        /*top: 0;*/
        /*left: 0;*/
          /*}*/
/*}*/


.trick1 {
    position: absolute;
}

.trick2 {
    position: absolute;
    margin-left: 220px
}

#trick-info div {
    position: absolute;
    width: 350px;
    margin-top: 112px;
    background-color: gold;
    border: solid 5px crimson;
    border-radius: 10px;
    box-shadow: -5px 5px 5px gray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 14;
    margin-left: 35px;
    font-family: Garamond;
    font-weight: bold;
    animation-name: trick-info-display;
    animation-duration: 3300ms;
}

@keyframes trick-info-display {
    from { opacity: .01 }
    10% {opacity: .01 }
    30% { opacity: 1 }
    80% { opacity: 1 }
    to { opacity: .01 }
}

#trick-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 288px;
}

#decree {
    margin-left: 20px;
    z-index: 1;
    position: relative;
}

#decree-card {
    position: absolute;
}

#pass {
    margin-top: 112px;
    margin-left: 5px;
    width: 190px;
    z-index: 2;
    position: absolute;
}

#deck {
    margin-right: 5px;
    float: right
}

#hand-container {
    margin-left: 20px;
    height: 300px
}

#hand {
    position: relative
}

#hand img {
    width: 200px;
    position:absolute;
    box-shadow: -10px 5px 5px gray;
    border-radius: 5px;
}

.rightcard {
    animation-name: var(--animation);
    animation-duration: 500ms
}

@keyframes moveleft {
    from {
        margin-left: 75px
    }
    to {
        margin-left: 0px
    }
}

@keyframes moveright {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 75px;
    }
}



